test/wsdl/qualify/qualifytest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:s="http://www.w3.org/2001/XMLSchema"
             xmlns:s0="urn:qualifyTest"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             targetNamespace="urn:qualifyTest"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  This test tests the use and overriding of the "elementFormDefault" attribute.
  We have a simple test which uses a qualified element "name", and then a more
  complex test which overrides the default to use an unqualified element inside
  both the request and the response.
  </documentation>
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:qualifyTest">
      <s:element name="Simple">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SimpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SimpleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="FormOverride">
        <s:complexType>
          <s:sequence>
            <s:element form="unqualified" minOccurs="0" maxOccurs="1" name="complex">
             <s:complexType>
               <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               </s:sequence>
             </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FormOverrideResponse">
        <s:complexType>
          <s:sequence>
            <s:element form="unqualified" minOccurs="0" maxOccurs="1" name="response">
             <s:complexType>
               <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string"/>
               </s:sequence>
             </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>

    </s:schema>
  </types>

  <message name="SimpleSoapIn">
    <part name="parameters" element="s0:Simple" />
  </message>
  <message name="SimpleSoapOut">
    <part name="parameters" element="s0:SimpleResponse" />
  </message>
  <message name="FormOverrideSoapIn">
    <part name="parameters" element="s0:FormOverride" />
  </message>
  <message name="FormOverrideSoapOut">
    <part name="parameters" element="s0:FormOverrideResponse" />
  </message>

  <portType name="Qualify">
    <operation name="Simple">
      <input message="s0:SimpleSoapIn" />
      <output message="s0:SimpleSoapOut" />
    </operation>
    <operation name="FormOverride">
      <input message="s0:FormOverrideSoapIn" />
      <output message="s0:FormOverrideSoapOut" />
    </operation>
  </portType>


  <binding name="Qualify" type="s0:Qualify">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Simple">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FormOverride">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="Qualify">
    <port name="Qualify" binding="s0:Qualify">
      <soap:address location="http://localhost:8080/axis/services/Qualify" />
    </port>
  </service>
</definitions>