test/wsdl/query/QueryTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:QueryTest"
    xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="urn:QueryTest"
    xmlns:intf="urn:QueryTest"
    xmlns:tns1="http://rpc.xml.coldfusion"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="urn:QueryTest" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://rpc.xml.coldfusion"/>
            <element name="echoQuery">
                <complexType>
                    <sequence>
                        <element name="argQuery" type="tns1:QueryBean"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="ArrayOf_xsd_string">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_xsd_anyType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOfArrayOf_xsd_anyType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:ArrayOf_xsd_anyType"/>
                </sequence>
            </complexType>
            <element name="echoQueryResponse">
                <complexType>
                    <sequence>
                        <element name="echoQueryReturn" type="tns1:QueryBean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoBinary">
                <complexType>
                    <sequence>
                        <element name="argBinary" type="xsd:base64Binary"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoBinaryResponse">
                <complexType>
                    <sequence>
                        <element name="echoBinaryReturn" type="xsd:base64Binary"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoArray">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" name="argArray" type="xsd:anyType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="echoArrayResponse">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" name="echoArrayReturn" type="xsd:anyType"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema elementFormDefault="qualified" targetNamespace="http://rpc.xml.coldfusion" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xml.apache.org/xml-soap"/>
            <import namespace="urn:QueryTest"/>
            <complexType name="QueryBean">
                <sequence>
                    <element name="columnList" nillable="true" type="impl:ArrayOf_xsd_string"/>
                    <element name="data" nillable="true" type="impl:ArrayOfArrayOf_xsd_anyType"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="echoQueryRequest">
        <wsdl:part element="impl:echoQuery" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="echoQueryResponse">
        <wsdl:part element="impl:echoQueryResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:message name="echoArrayRequest">
        <wsdl:part element="impl:echoArray" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="echoArrayResponse">
        <wsdl:part element="impl:echoArrayResponse" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="QueryTest">
        <wsdl:operation name="echoQuery">
            <wsdl:input message="impl:echoQueryRequest" name="echoQueryRequest"/>
            <wsdl:output message="impl:echoQueryResponse" name="echoQueryResponse"/>
        </wsdl:operation>

<!--
        <wsdl:operation name="echoArray">
            <wsdl:input message="impl:echoArrayRequest" name="echoArrayRequest"/>
            <wsdl:output message="impl:echoArrayResponse" name="echoArrayResponse"/>
        </wsdl:operation>
-->

    </wsdl:portType>

    <wsdl:binding name="QueryTestBinding" type="impl:QueryTest">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoQuery">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoQueryRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoQueryResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

<!--
        <wsdl:operation name="echoArray">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoArrayRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
-->

    </wsdl:binding>

    <wsdl:service name="QueryTestService">
        <wsdl:port binding="impl:QueryTestBinding" name="QueryTest">
            <wsdlsoap:address location="http://localhost:8080/axis/services/QueryTest"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
