test/wsdl/extensibility/ExtensibilityQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ExtensibilityQuery" targetNamespace="urn:ExtensibilityQuery"
xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="urn:ExtensibilityQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema attributeFormDefault="qualified"
    elementFormDefault="qualified" targetNamespace="urn:ExtensibilityQuery">

      <xsd:complexType name="ExtensibilityType">
        <xsd:sequence>
          <xsd:any namespace="##any"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="query">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryExpression" type="tns:ExtensibilityType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="queryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryResult" type="tns:ExtensibilityType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <message name="queryIn">
    <part element="tns:query" name="parameters" />
  </message>

  <message name="queryOut">
    <part element="tns:queryResponse" name="parameters" />
  </message>

  <portType name="ExtensibilityQueryPortType">
    <operation name="query">
      <input message="tns:queryIn" />
      <output message="tns:queryOut" />
    </operation>
  </portType>

  <binding name="ExtensibilityQueryBinding" type="tns:ExtensibilityQueryPortType">
    <soap:binding style="document"
    transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="query">
      <soap:operation soapAction="query" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="ExtensibilityQuery">
    <port binding="tns:ExtensibilityQueryBinding" name="ExtensibilityQueryPort">
        <soap:address location="http://localhost:8080/axis/services/ExtensibilityQueryPort"/>
    </port>
  </service>

</definitions>

