test/wsdl/liberty/liberty-idwsf-disco-svc-v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:liberty:disco:2005-06" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" 
    xmlns:xenc="http://www.w3.org/2001/04/xmlenc#" 

    xmlns:wsa="http://www.w3.org/2005/03/addressing" 

    xmlns="urn:liberty:disco:2005-06" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified"
>

   <xs:include schemaLocation="liberty-idwsf-utility-v2.0.xsd"/>

   <xs:import namespace="http://www.w3.org/2005/03/addressing" 
    schemaLocation="http://www.w3.org/2005/03/addressing"/>

   <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" 
    schemaLocation="saml-schema-metadata-2.0.xsd"/>

   <xs:import namespace="http://www.w3.org/2001/04/xmlenc#" 
    schemaLocation="http://www.w3.org/TR/2002/REC-xmlenc-core-20021210/xenc-schema.xsd"/>

   <xs:annotation>
      <xs:documentation>
	 XML Schema from Liberty Discovery Service Specification.
      </xs:documentation>
      <xs:documentation>### NOTICE ###   

            Copyright (c) 2004 Liberty Alliance participants, see
            http://www.projectliberty.org/specs/idwsf_2_0_copyrights.php

      </xs:documentation>
   </xs:annotation>




   <!-- **** Discovery Service Data Elements & Types **** -->


   <!-- Abstract: natural-language description of service  --> 

   <xs:element name="Abstract" type="xs:string"/>

   <!-- Provider ID  --> 

   <xs:element name="ProviderID" type="md:entityIDType"/>


   <!-- Service Type -->

   <xs:element name="ServiceType" type="xs:anyURI"/>


   <!-- Security Mechanism ID --> 

   <xs:element name="SecurityMechID" type="xs:anyURI"/>


   <!--  ServiceInstanceDescriptionType -->

   <!--  note that ServiceInstanceType no longer appears - its
   information is now mapped-into and conveyed by the
   ServiceInstanceEPR, below -->

   <!--  ServiceInstanceDescription is the former DescriptionType, and
   is now conveyed within a ServiceInstanceEPR, as opposed to a
   ResourceOffering as before -->

   <xs:element name="ServiceInstanceDescription"
               type="ServiceInstanceDescriptionType"/>

   <xs:complexType name="ServiceInstanceDescriptionType">
      <xs:sequence>

         <xs:element ref="SecurityMechID" 
                     minOccurs="1" 
                     maxOccurs="unbounded"/>

         <xs:element name="CredentialRef" 
                     type="xs:IDREF" 
                     minOccurs="0" 
                     maxOccurs="unbounded"/>

         <xs:choice>
            <xs:group ref="WsdlRef"/>
            <xs:group ref="BriefSoapHttpDescription"/>
         </xs:choice>

      </xs:sequence>

      <xs:attribute name="id" type="xs:ID" use="optional"/>

   </xs:complexType>


   <!-- WsdlRef group -->

   <xs:group name="WsdlRef">
      <xs:sequence>

         <xs:element name="WsdlURI" type="xs:anyURI"/>

         <xs:element name="ServiceNameRef" type="xs:string"/>

      </xs:sequence>
   </xs:group>


   <!-- BriefSoapHttpDescription Group -->

   <xs:group name="BriefSoapHttpDescription">
      <xs:sequence>

         <xs:element name="Endpoint" type="xs:anyURI"/>

         <xs:element name="SoapAction" type="xs:anyURI" minOccurs="0"/>

      </xs:sequence>
   </xs:group>


   <!-- Service Instance EndPoint References (SIEPRs)          --> 
   
   <!-- SIEPRs are explicitly based on W3C WS-Addressing's
   wsa:EndpointReferenceType. They supplant the ServiceInstanceType
   and ResourceOfferingType of earlier versions of the Discovery
   Service -->

   <xs:element name="ServiceInstanceEPR" type="ServiceInstanceEPRType"/>

   <xs:complexType name="ServiceInstanceEPRType">
      <xs:complexContent>
         <xs:extension base="wsa:EndpointReferenceType">
            <xs:attribute name="entryID" 
                          type="IDType" 
                          use="optional"/>

<!--            <xs:anyAttribute namespace="##other" processContents="lax"/> -->


         </xs:extension>
      </xs:complexContent>
   </xs:complexType>



   <!--  ServiceInstanceEPRMetadata and ServiceInstanceEPRMetadataType  --> 

   <xs:element name="ServiceInstanceEPRMetadata" 
               type="ServiceInstanceEPRMetadataType"/>

   <xs:complexType name="ServiceInstanceEPRMetadataType">
      <xs:complexContent>
         <xs:extension base="wsa:MetadataType">
      
            <xs:sequence>
            
               <xs:element ref="ServiceType"/>
            
               <xs:element ref="Abstract" 
                           minOccurs="0"/>
            
               <xs:element ref="ProviderID"/>
            
               <xs:element name="NotOnOrAfter" 
                           type="xs:dateTime"
                           minOccurs="0"/>

               <xs:element ref="ServiceInstanceDescription"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
            
               <xs:element ref="Options"          
                           minOccurs="0"/>
            
               <xs:any namespace="##any" 
                       processContents="lax" 
                       minOccurs="0"
                       maxOccurs="unbounded"/>
                       
            </xs:sequence>

<!--            <xs:anyAttribute namespace="##other" processContents="lax"/> -->

         </xs:extension>
      </xs:complexContent>
   </xs:complexType>



   <!-- Options --> 

   <xs:element name="Options" type="OptionsType"/>

   <xs:complexType name="OptionsType">
      <xs:sequence>

         <xs:element name="Option" 
                     type="xs:anyURI" 
                     minOccurs="0" 
                     maxOccurs="unbounded"/>

      </xs:sequence>
   </xs:complexType>




   <!-- **** Discovery Service Protocol Messages Elements & Types **** -->


   <!-- Query Message Element & Type --> 

   <xs:element name="Query" type="QueryType"/>

   <xs:complexType name="QueryType">
      <xs:sequence>

         <xs:element name="RequestedService"
                     type="RequestedServiceType"
                     minOccurs="0" 
                     maxOccurs="unbounded"/>

      </xs:sequence>

      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>


   <xs:complexType name="RequestedServiceType">
      <xs:sequence>

         <xs:element ref="ServiceType"/>

         <xs:element ref="Options" 
                     minOccurs="0"/>

         <xs:element ref="SecurityMechID" 
                     minOccurs="0"/>

      </xs:sequence>
   </xs:complexType>
   

   <!-- QueryResponse Message Element & Type -->

   <xs:element name="QueryResponse" type="QueryResponseType"/>

   <xs:complexType name="QueryResponseType">
      <xs:sequence>

         <xs:element ref="Status"/>

         <xs:element ref="ServiceInstanceEPR" 
                     minOccurs="0" 
                     maxOccurs="unbounded"/>

         <xs:element name="Credentials" minOccurs="0">
            <xs:complexType>
               <xs:sequence>

                  <xs:any namespace="##any" 
                          processContents="lax" 
                          minOccurs="0" 
                          maxOccurs="unbounded"/>

               </xs:sequence>
            </xs:complexType>
         </xs:element>

      </xs:sequence>

      <xs:attribute name="id" 
                    type="xs:ID" 
                    use="optional"/>

   </xs:complexType>


   <!-- Modify Message Element & Types --> 

   <xs:element name="Modify" type="ModifyType"/>

   <xs:complexType name="ModifyType">
      <xs:sequence>

         <xs:element name="InsertEntry" 
                     type="InsertEntryType" 
                     minOccurs="0" 
                     maxOccurs="unbounded"/>

         <xs:element name="RemoveEntry" 
                     type="RemoveEntryType" 
                     minOccurs="0" 
                     maxOccurs="unbounded"/>

      </xs:sequence>

      <xs:attribute name="id" 
                    type="xs:ID" 
                    use="optional"/>

   </xs:complexType>


   <xs:complexType name="InsertEntryType">
      <xs:sequence>

         <xs:element ref="ServiceInstanceEPR"/>
         
         <!-- the below is used to include directives -->
         <xs:any namespace="##any"       
                 processContents="lax" 
                 minOccurs="0" 
                 maxOccurs="unbounded"/>

      </xs:sequence>
   </xs:complexType>


   <xs:complexType name="RemoveEntryType">

      <xs:attribute name="entryID" 
                    type="IDReferenceType" 
                    use="required"/>

   </xs:complexType>


   <!-- Directives -->

   <xs:complexType name="DirectiveType">

     <xs:attribute name="descriptionIDRefs" 
                   type="xs:IDREFS" 
                   use="optional"/>

   </xs:complexType>

   <xs:element name="AuthenticateRequester"      type="DirectiveType"/>
   <xs:element name="AuthorizeRequester"         type="DirectiveType"/>
   <xs:element name="AuthenticateSessionContext" type="DirectiveType"/>
   <xs:element name="SendSingleLogOut"           type="DirectiveType"/>
   <xs:element name="GenerateBearerToken"        type="DirectiveType"/>


   <!-- ModifyResponse Message Element & Type -->

   <xs:element name="ModifyResponse" type="ModifyResponseType"/>

   <xs:complexType name="ModifyResponseType">
      <xs:sequence>

         <xs:element ref="Status"/>

	 <xs:element ref="Extension" 
                     minOccurs="0" 
                     maxOccurs="1"/>

      </xs:sequence>

      <xs:attribute name="id" 
                    type="xs:ID" 
                    use="optional"/>

      <xs:attribute name="newEntryIDs" use="optional">
         <xs:simpleType>

            <xs:list itemType="IDReferenceType"/>

         </xs:simpleType>
      </xs:attribute>

   </xs:complexType>


    <!-- Keys Element - For use in ModifyResponse Extension field -->

    <xs:element name="Keys" type="KeysType"/>

    <xs:complexType name="KeysType">
       <xs:sequence>

         <xs:element ref="md:KeyDescriptor" 
                     minOccurs="1" 
                     maxOccurs="unbounded"/>

       </xs:sequence>
    </xs:complexType>


</xs:schema>

