test/wsdl/liberty/liberty-idsis-ep-v1.1.xsd

<!-- Generated by gen-prof.pl  $Id: liberty-idsis-ep-v1.1.xsd,v 1.1 2005/02/04 21:38:21 steveg Exp $ 
from $Id: liberty-idsis-ep-v1.1.xsd,v 1.1 2005/02/04 21:38:21 steveg Exp $ -->
<!-- adjust 2003-10-02 TDW: changed copyright -->
<xs:schema targetNamespace="urn:liberty:id-sis-ep:2003-08" xmlns="urn:liberty:id-sis-ep:2003-08" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
  <xs:annotation>
    <xs:documentation>Title: Liberty ID-SIS Employee Profile Services Schema</xs:documentation>
    <xs:documentation>The source code in this XSD file was excerpted verbatim from:

Liberty Liberty ID-SIS Employee Profile Service Specification
Version 1.2
12th November 2003

Copyright (c) 2003 Liberty Alliance participants, see
https://www.projectliberty.org/specs/idwsf_copyrights.html

</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="liberty-idwsf-dst-v1.1.xsd"/>
  <xs:include schemaLocation="liberty-idwsf-dst-dt-v1.1.xsd"/>
  <xs:element name="EP" type="EPType"/>
  <xs:complexType name="EPType">
    <xs:sequence>
      <xs:element ref="EmployeeID" minOccurs="0"/>
      <xs:element ref="AltEmployeeID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="DateOfHire" minOccurs="0"/>
      <xs:element ref="JobStartDate" minOccurs="0"/>
      <xs:element ref="EmployeeStatus" minOccurs="0"/>
      <xs:element ref="EmployeeType" minOccurs="0"/>
      <xs:element ref="InternalJobTitle" minOccurs="0"/>
      <xs:element ref="LInternalJobTitle" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="OU" minOccurs="0"/>
      <xs:element ref="LOU" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="CorpCommonName" minOccurs="0"/>
      <xs:element ref="CorpLegalIdentity" minOccurs="0"/>
      <xs:element ref="ManagerEmployeeID" minOccurs="0"/>
      <xs:element ref="SubalternateEmployeeID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="Extension" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttributes"/>
  </xs:complexType>
  <xs:element name="EmployeeID" type="DSTString"/>
  <xs:element name="AltEmployeeID" type="DSTString"/>
  <xs:element name="DateOfHire" type="DSTDate"/>
  <xs:element name="JobStartDate" type="DSTDate"/>
  <xs:element name="EmployeeStatus" type="DSTURI"/>
  <xs:element name="EmployeeType" type="DSTURI"/>
  <xs:element name="InternalJobTitle" type="DSTString"/>
  <xs:element name="LInternalJobTitle" type="DSTLocalizedString"/>
  <xs:element name="OU" type="DSTString"/>
  <xs:element name="LOU" type="DSTLocalizedString"/>
  <xs:element name="CorpCommonName" type="CorpCommonNameType"/>
  <xs:complexType name="CorpCommonNameType">
    <xs:sequence>
      <xs:element ref="CN" minOccurs="0"/>
      <xs:element ref="LCN" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="AltCN" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="LAltCN" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="Extension" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttributes"/>
  </xs:complexType>
  <xs:element name="CN" type="DSTString"/>
  <xs:element name="LCN" type="DSTLocalizedString"/>
  <xs:element name="AltCN" type="DSTString"/>
  <xs:element name="LAltCN" type="DSTLocalizedString"/>
  <xs:element name="CorpLegalIdentity" type="CorpLegalIdentityType"/>
  <xs:complexType name="CorpLegalIdentityType">
    <xs:sequence>
      <xs:element ref="LegalName" minOccurs="0"/>
      <xs:element ref="LLegalName" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="VAT" minOccurs="0"/>
      <xs:element ref="AltID" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="Extension" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttributes"/>
  </xs:complexType>
  <xs:element name="LegalName" type="DSTString"/>
  <xs:element name="LLegalName" type="DSTLocalizedString"/>
  <xs:element name="VAT" type="VATType"/>
  <xs:complexType name="VATType">
    <xs:sequence>
      <xs:element ref="IDValue"/>
      <xs:element ref="IDType" minOccurs="0"/>
      <xs:element ref="Extension" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttributes"/>
  </xs:complexType>
  <xs:element name="IDValue" type="DSTString"/>
  <xs:element name="IDType" type="DSTURI"/>
  <xs:element name="AltID" type="AltIDType"/>
  <xs:complexType name="AltIDType">
    <xs:sequence>
      <xs:element ref="IDValue"/>
      <xs:element ref="IDType" minOccurs="0"/>
      <xs:element ref="Extension" minOccurs="0"/>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttributes"/>
  </xs:complexType>
  <xs:element name="ManagerEmployeeID" type="DSTString"/>
  <xs:element name="SubalternateEmployeeID" type="DSTString"/>
  <xs:simpleType name="SelectType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>

