test/wsdl/marshall2/marshall2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://marshall2.wsdl.test/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:ns1="http://marshall2.wsdl.test/types"
             targetNamespace="http://marshall2.wsdl.test/"
             name="MarshallTestService">
    <types>
        <schema targetNamespace="http://marshall2.wsdl.test/types"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                xmlns:tns="http://marshall2.wsdl.test/types"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <complexType name="BigDecimalArrayTest">
                <sequence>
                    <element name="BigDecimalArray" type="decimal"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="BigDecimalArrayTestResponse">
                <sequence>
                    <element name="BigDecimalArray" type="decimal"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="BigDecimalTest">
                <sequence>
                    <element name="BigDecimal" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="BigDecimalTestResponse">
                <sequence>
                    <element name="BigDecimal" type="decimal" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="BigIntegerArrayTest">
                <sequence>
                    <element name="BigIntegerArray" type="integer"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="BigIntegerArrayTestResponse">
                <sequence>
                    <element name="BigIntegerArray" type="integer"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="BigIntegerTest">
                <sequence>
                    <element name="BigInteger" type="integer" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="BigIntegerTestResponse">
                <sequence>
                    <element name="BigInteger" type="integer" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="BooleanArrayTest">
                <sequence>
                    <element name="booleanArray" type="boolean" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="BooleanArrayTestResponse">
                <sequence>
                    <element name="booleanArray" type="boolean" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="BooleanTest">
                <sequence>
                    <element name="booleanValue" type="boolean"/>
                </sequence>
            </complexType>
            <complexType name="BooleanTestResponse">
                <sequence>
                    <element name="booleanValue" type="boolean"/>
                </sequence>
            </complexType>
            <complexType name="ByteArrayTest">
                <sequence>
                    <element name="byteArray" type="base64Binary"
                             nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="ByteArrayTestResponse">
                <sequence>
                    <element name="byteArray" type="base64Binary"
                             nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="ByteTest">
                <sequence>
                    <element name="byteValue" type="byte"/>
                </sequence>
            </complexType>
            <complexType name="ByteTestResponse">
                <sequence>
                    <element name="byteValue" type="byte"/>
                </sequence>
            </complexType>
            <complexType name="DoubleArrayTest">
                <sequence>
                    <element name="doubleArray" type="double" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="DoubleArrayTestResponse">
                <sequence>
                    <element name="doubleArray" type="double" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="DoubleTest">
                <sequence>
                    <element name="doubleValue" type="double"/>
                </sequence>
            </complexType>
            <complexType name="DoubleTestResponse">
                <sequence>
                    <element name="doubleValue" type="double"/>
                </sequence>
            </complexType>
            <complexType name="FloatArrayTest">
                <sequence>
                    <element name="floatArray" type="float" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="FloatArrayTestResponse">
                <sequence>
                    <element name="floatArray" type="float" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="FloatTest">
                <sequence>
                    <element name="floatValue" type="float"/>
                </sequence>
            </complexType>
            <complexType name="FloatTestResponse">
                <sequence>
                    <element name="floatValue" type="float"/>
                </sequence>
            </complexType>
            <complexType name="IntArrayTest">
                <sequence>
                    <element name="intArray" type="int" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="IntArrayTestResponse">
                <sequence>
                    <element name="intArray" type="int" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="IntTest">
                <sequence>
                    <element name="intValue" type="int"/>
                </sequence>
            </complexType>
            <complexType name="IntTestResponse">
                <sequence>
                    <element name="intValue" type="int"/>
                </sequence>
            </complexType>
            <complexType name="LongArrayTest">
                <sequence>
                    <element name="longArray" type="long" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="LongArrayTestResponse">
                <sequence>
                    <element name="longArray" type="long" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="LongTest">
                <sequence>
                    <element name="longValue" type="long"/>
                </sequence>
            </complexType>
            <complexType name="LongTestResponse">
                <sequence>
                    <element name="longValue" type="long"/>
                </sequence>
            </complexType>
            <complexType name="ShortArrayTest">
                <sequence>
                    <element name="shortArray" type="short" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="ShortArrayTestResponse">
                <sequence>
                    <element name="shortArray" type="short" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="ShortTest">
                <sequence>
                    <element name="shortValue" type="short"/>
                </sequence>
            </complexType>
            <complexType name="ShortTestResponse">
                <sequence>
                    <element name="shortValue" type="short"/>
                </sequence>
            </complexType>
            <complexType name="StringArrayTest">
                <sequence>
                    <element name="StringArray" type="string" nillable="true"
                             minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="StringArrayTestResponse">
                <sequence>
                    <element name="StringArray" type="string" nillable="true"
                             minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="StringTest">
                <sequence>
                    <element name="StringValue" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="StringTestResponse">
                <sequence>
                    <element name="StringValue" type="string" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="QNameTest">
                <sequence>
                    <element name="qname_1" type="QName" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="QNameTestResponse">
                <sequence>
                    <element name="result" type="QName" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="QNameArrayTest">
                <sequence>
                    <element name="qnameArray_1" type="QName" nillable="true"
                             minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="QNameArrayTestResponse">
                <sequence>
                    <element name="result" type="QName" nillable="true"
                             minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="CalendarArrayTest">
                <sequence>
                    <element name="CalendarArray" type="dateTime"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="CalendarArrayTestResponse">
                <sequence>
                    <element name="CalendarArray" type="dateTime"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="CalendarTest">
                <sequence>
                    <element name="Calendar" type="dateTime" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="CalendarTestResponse">
                <sequence>
                    <element name="Calendar" type="dateTime" nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="JavaBeanArrayTest">
                <sequence>
                    <element name="JavaBeanArray" type="tns:JavaBean"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="JavaBean">
                <sequence>
                    <element name="myBigDecimal" type="decimal"
                             nillable="true"/>
                    <element name="myDouble" type="double"/>
                    <element name="myLong" type="long"/>
                    <element name="myJavaBean" type="tns:JavaBean2"
                             nillable="true"/>
                    <element name="myShort" type="short"/>
                    <element name="myInt" type="int"/>
                    <element name="myCalendar" type="dateTime" nillable="true"/>
                    <element name="myByte" type="byte"/>
                    <element name="myBoolean" type="boolean"/>
                    <element name="myString" type="string" nillable="true"/>
                    <element name="myBigInteger" type="integer"
                             nillable="true"/>
                    <element name="myFloat" type="float"/>
                </sequence>
            </complexType>
            <complexType name="JavaBean2">
                <sequence>
                    <element name="myBigDecimal" type="decimal"
                             nillable="true"/>
                    <element name="myDouble" type="double"/>
                    <element name="myLong" type="long"/>
                    <element name="myShort" type="short"/>
                    <element name="myInt" type="int"/>
                    <element name="myCalendar" type="dateTime" nillable="true"/>
                    <element name="myByte" type="byte"/>
                    <element name="myBoolean" type="boolean"/>
                    <element name="myString" type="string" nillable="true"/>
                    <element name="myBigInteger" type="integer"
                             nillable="true"/>
                    <element name="myFloat" type="float"/>
                </sequence>
            </complexType>
            <complexType name="JavaBeanArrayTestResponse">
                <sequence>
                    <element name="JavaBeanArray" type="tns:JavaBean"
                             nillable="true" minOccurs="0"
                             maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="JavaBeanTest">
                <sequence>
                    <element name="JavaBean" type="tns:JavaBean"
                             nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="JavaBeanTestResponse">
                <sequence>
                    <element name="JavaBean" type="tns:JavaBean"
                             nillable="true"/>
                </sequence>
            </complexType>
			<complexType name="FooAnyURIType">
                <sequence>
                    <element name="FooAnyURIType" type="anyURI"/>
                </sequence>
            </complexType>
			<complexType name="FooAnyURITypeResponse">
                <sequence>
                    <element name="FooAnyURIType" type="anyURI"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="bigDecimalArrayTest">
        <part name="parameters" type="ns1:BigDecimalArrayTest"/>
    </message>
    <message name="bigDecimalArrayTestResponse">
        <part name="result" type="ns1:BigDecimalArrayTestResponse"/>
    </message>
    <message name="bigDecimalTest">
        <part name="parameters" type="ns1:BigDecimalTest"/>
    </message>
    <message name="bigDecimalTestResponse">
        <part name="result" type="ns1:BigDecimalTestResponse"/>
    </message>
    <message name="bigIntegerArrayTest">
        <part name="parameters" type="ns1:BigIntegerArrayTest"/>
    </message>
    <message name="bigIntegerArrayTestResponse">
        <part name="result" type="ns1:BigIntegerArrayTestResponse"/>
    </message>
    <message name="bigIntegerTest">
        <part name="parameters" type="ns1:BigIntegerTest"/>
    </message>
    <message name="bigIntegerTestResponse">
        <part name="result" type="ns1:BigIntegerTestResponse"/>
    </message>
    <message name="booleanArrayTest">
        <part name="parameters" type="ns1:BooleanArrayTest"/>
    </message>
    <message name="booleanArrayTestResponse">
        <part name="result" type="ns1:BooleanArrayTestResponse"/>
    </message>
    <message name="booleanTest">
        <part name="parameters" type="ns1:BooleanTest"/>
    </message>
    <message name="booleanTestResponse">
        <part name="result" type="ns1:BooleanTestResponse"/>
    </message>
    <message name="byteArrayTest">
        <part name="parameters" type="ns1:ByteArrayTest"/>
    </message>
    <message name="byteArrayTestResponse">
        <part name="result" type="ns1:ByteArrayTestResponse"/>
    </message>
    <message name="byteTest">
        <part name="parameters" type="ns1:ByteTest"/>
    </message>
    <message name="byteTestResponse">
        <part name="result" type="ns1:ByteTestResponse"/>
    </message>
    <message name="doubleArrayTest">
        <part name="parameters" type="ns1:DoubleArrayTest"/>
    </message>
    <message name="doubleArrayTestResponse">
        <part name="result" type="ns1:DoubleArrayTestResponse"/>
    </message>
    <message name="doubleTest">
        <part name="parameters" type="ns1:DoubleTest"/>
    </message>
    <message name="doubleTestResponse">
        <part name="result" type="ns1:DoubleTestResponse"/>
    </message>
    <message name="floatArrayTest">
        <part name="parameters" type="ns1:FloatArrayTest"/>
    </message>
    <message name="floatArrayTestResponse">
        <part name="result" type="ns1:FloatArrayTestResponse"/>
    </message>
    <message name="floatTest">
        <part name="parameters" type="ns1:FloatTest"/>
    </message>
    <message name="floatTestResponse">
        <part name="result" type="ns1:FloatTestResponse"/>
    </message>
    <message name="intArrayTest">
        <part name="parameters" type="ns1:IntArrayTest"/>
    </message>
    <message name="intArrayTestResponse">
        <part name="result" type="ns1:IntArrayTestResponse"/>
    </message>
    <message name="intTest">
        <part name="parameters" type="ns1:IntTest"/>
    </message>
    <message name="intTestResponse">
        <part name="result" type="ns1:IntTestResponse"/>
    </message>
    <message name="longArrayTest">
        <part name="parameters" type="ns1:LongArrayTest"/>
    </message>
    <message name="longArrayTestResponse">
        <part name="result" type="ns1:LongArrayTestResponse"/>
    </message>
    <message name="longTest">
        <part name="parameters" type="ns1:LongTest"/>
    </message>
    <message name="longTestResponse">
        <part name="result" type="ns1:LongTestResponse"/>
    </message>
    <message name="shortArrayTest">
        <part name="parameters" type="ns1:ShortArrayTest"/>
    </message>
    <message name="shortArrayTestResponse">
        <part name="result" type="ns1:ShortArrayTestResponse"/>
    </message>
    <message name="shortTest">
        <part name="parameters" type="ns1:ShortTest"/>
    </message>
    <message name="shortTestResponse">
        <part name="result" type="ns1:ShortTestResponse"/>
    </message>
    <message name="stringArrayTest">
        <part name="parameters" type="ns1:StringArrayTest"/>
    </message>
    <message name="stringArrayTestResponse">
        <part name="result" type="ns1:StringArrayTestResponse"/>
    </message>
    <message name="stringTest">
        <part name="parameters" type="ns1:StringTest"/>
    </message>
    <message name="stringTestResponse">
        <part name="result" type="ns1:StringTestResponse"/>
    </message>
    <message name="qnameTest">
        <part name="parameters" type="ns1:QNameTest"/>
    </message>
    <message name="qnameTestResponse">
        <part name="result" type="ns1:QNameTestResponse"/>
    </message>
    <message name="qnameArrayTest">
        <part name="parameters" type="ns1:QNameArrayTest"/>
    </message>
    <message name="qnameArrayTestResponse">
        <part name="result" type="ns1:QNameArrayTestResponse"/>
    </message>
    <message name="calendarArrayTest">
        <part name="parameters" type="ns1:CalendarArrayTest"/>
    </message>
    <message name="calendarArrayTestResponse">
        <part name="result" type="ns1:CalendarArrayTestResponse"/>
    </message>
    <message name="calendarTest">
        <part name="parameters" type="ns1:CalendarTest"/>
    </message>
    <message name="calendarTestResponse">
        <part name="result" type="ns1:CalendarTestResponse"/>
    </message>
    <message name="javaBeanArrayTest">
        <part name="parameters" type="ns1:JavaBeanArrayTest"/>
    </message>
    <message name="javaBeanArrayTestResponse">
        <part name="result" type="ns1:JavaBeanArrayTestResponse"/>
    </message>
    <message name="javaBeanTest">
        <part name="parameters" type="ns1:JavaBeanTest"/>
    </message>
    <message name="javaBeanTestResponse">
        <part name="result" type="ns1:JavaBeanTestResponse"/>
    </message>
    <message name="fooAnyURITest">
        <part name="parameters" type="ns1:FooAnyURIType"/>
    </message>
    <message name="fooAnyURITestResponse">
        <part name="result" type="ns1:FooAnyURITypeResponse"/>
    </message>

    <portType name="MarshallTest">
        <operation name="bigDecimalArrayTest">
            <input name="bigDecimalArrayTest"
                   message="tns:bigDecimalArrayTest"/>
            <output name="bigDecimalArrayTestResponse"
                    message="tns:bigDecimalArrayTestResponse"/>
        </operation>
        <operation name="bigDecimalTest">
            <input name="bigDecimalTest" message="tns:bigDecimalTest"/>
            <output name="bigDecimalTestResponse"
                    message="tns:bigDecimalTestResponse"/>
        </operation>
        <operation name="bigIntegerArrayTest">
            <input name="bigIntegerArrayTest"
                   message="tns:bigIntegerArrayTest"/>
            <output name="bigIntegerArrayTestResponse"
                    message="tns:bigIntegerArrayTestResponse"/>
        </operation>
        <operation name="bigIntegerTest">
            <input name="bigIntegerTest" message="tns:bigIntegerTest"/>
            <output name="bigIntegerTestResponse"
                    message="tns:bigIntegerTestResponse"/>
        </operation>
        <operation name="booleanArrayTest">
            <input name="booleanArrayTest" message="tns:booleanArrayTest"/>
            <output name="booleanArrayTestResponse"
                    message="tns:booleanArrayTestResponse"/>
        </operation>
        <operation name="booleanTest">
            <input name="booleanTest" message="tns:booleanTest"/>
            <output name="booleanTestResponse"
                    message="tns:booleanTestResponse"/>
        </operation>
        <operation name="byteArrayTest">
            <input name="byteArrayTest" message="tns:byteArrayTest"/>
            <output name="byteArrayTestResponse"
                    message="tns:byteArrayTestResponse"/>
        </operation>
        <operation name="byteTest">
            <input name="byteTest" message="tns:byteTest"/>
            <output name="byteTestResponse" message="tns:byteTestResponse"/>
        </operation>
        <operation name="doubleArrayTest">
            <input name="doubleArrayTest" message="tns:doubleArrayTest"/>
            <output name="doubleArrayTestResponse"
                    message="tns:doubleArrayTestResponse"/>
        </operation>
        <operation name="doubleTest">
            <input name="doubleTest" message="tns:doubleTest"/>
            <output name="doubleTestResponse" message="tns:doubleTestResponse"/>
        </operation>
        <operation name="floatArrayTest">
            <input name="floatArrayTest" message="tns:floatArrayTest"/>
            <output name="floatArrayTestResponse"
                    message="tns:floatArrayTestResponse"/>
        </operation>
        <operation name="floatTest">
            <input name="floatTest" message="tns:floatTest"/>
            <output name="floatTestResponse" message="tns:floatTestResponse"/>
        </operation>
        <operation name="intArrayTest">
            <input name="intArrayTest" message="tns:intArrayTest"/>
            <output name="intArrayTestResponse"
                    message="tns:intArrayTestResponse"/>
        </operation>
        <operation name="intTest">
            <input name="intTest" message="tns:intTest"/>
            <output name="intTestResponse" message="tns:intTestResponse"/>
        </operation>
        <operation name="longArrayTest">
            <input name="longArrayTest" message="tns:longArrayTest"/>
            <output name="longArrayTestResponse"
                    message="tns:longArrayTestResponse"/>
        </operation>
        <operation name="longTest">
            <input name="longTest" message="tns:longTest"/>
            <output name="longTestResponse" message="tns:longTestResponse"/>
        </operation>
        <operation name="shortArrayTest">
            <input name="shortArrayTest" message="tns:shortArrayTest"/>
            <output name="shortArrayTestResponse"
                    message="tns:shortArrayTestResponse"/>
        </operation>
        <operation name="shortTest">
            <input name="shortTest" message="tns:shortTest"/>
            <output name="shortTestResponse" message="tns:shortTestResponse"/>
        </operation>
        <operation name="stringArrayTest">
            <input name="stringArrayTest" message="tns:stringArrayTest"/>
            <output name="stringArrayTestResponse"
                    message="tns:stringArrayTestResponse"/>
        </operation>
        <operation name="stringTest">
            <input name="stringTest" message="tns:stringTest"/>
            <output name="stringTestResponse" message="tns:stringTestResponse"/>
        </operation>
        <operation name="qnameTest">
            <input message="tns:qnameTest" name="qnameTest"/>
            <output message="tns:qnameTestResponse" name="qnameTestResponse"/>
        </operation>
        <operation name="qnameArrayTest">
            <input message="tns:qnameArrayTest" name="qnameArrayTest"/>
            <output message="tns:qnameArrayTestResponse"
                    name="qnameArrayTestResponse"/>
        </operation>
        <operation name="calendarArrayTest">
            <input message="tns:calendarArrayTest" name="calendarArrayTest"/>
            <output message="tns:calendarArrayTestResponse"
                    name="calendarArrayTestResponse"/>
        </operation>
        <operation name="calendarTest">
            <input message="tns:calendarTest" name="calendarTest"/>
            <output message="tns:calendarTestResponse"
                    name="calendarTestResponse"/>
        </operation>
        <operation name="javaBeanArrayTest">
            <input message="tns:javaBeanArrayTest" name="javaBeanArrayTest"/>
            <output message="tns:javaBeanArrayTestResponse"
                    name="javaBeanArrayTestResponse"/>
        </operation>
        <operation name="javaBeanTest">
            <input message="tns:javaBeanTest" name="javaBeanTest"/>
            <output message="tns:javaBeanTestResponse"
                    name="javaBeanTestResponse"/>
        </operation>
        <operation name="fooAnyURITest">
            <input message="tns:fooAnyURITest" name="fooAnyURITest"/>
            <output message="tns:fooAnyURITestResponse"
                    name="fooAnyURITestResponse"/>
        </operation>
    </portType>
    <binding name="MarshallTestSoapBinding" type="tns:MarshallTest">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="bigDecimalArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="bigDecimalTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="bigIntegerArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="bigIntegerTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="booleanArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="booleanTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="byteArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="byteTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="doubleArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="doubleTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="floatArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="floatTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="intArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="intTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="longArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="longTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="shortArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="shortTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="stringArrayTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="stringTest">
            <soap:operation/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="qnameTest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="qnameArrayTest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="calendarArrayTest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="calendarTest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="javaBeanArrayTest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="javaBeanTest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>
        <operation name="fooAnyURITest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://marshall2.wsdl.test/"/>
            </output>
        </operation>

    </binding>
    <service name="Marshall2Service">
        <port name="Marshall2Port" binding="tns:MarshallTestSoapBinding">
            <soap:address location="http://localhost:8080/axis/services/Marshall2Port"/>
        </port>
    </service>
</definitions>
