test/wsdl/faults2/FaultService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://test.com/wsdl/faults" 
     xmlns:tns="http://test.com/wsdl/faults"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
     xmlns:serviceNS="http://test.com/wsdl/faults"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
     xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>
    <xsd:schema 
        targetNamespace="http://test.com/wsdl/faults">

      <xsd:element name="throwFaultResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="return" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      </xsd:element>

      <xsd:element name="throwFault">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="p1" type="xsd:string"/>
          <xsd:element name="p2" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="TestFault">
        <xsd:sequence>
          <xsd:element name="a" type="xsd:string"/>
          <xsd:element name="b" type="xsd:int"/>
          <xsd:element name="c" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <message name="throwFaultResponseMessage">
    <part name="responseParams" element="tns:throwFaultResponse"/>
  </message>
  <message name="throwFaultRequestMessage">
    <part name="requestParams" element="tns:throwFault"/>
<!--type="xsd:string"
    <part name="p2" type="xsd:string"/-->
  </message>
  <message name="throwFaultFault">
    <part name="msg" type="tns:TestFault" />
  </message>

  <portType name="FaultServicePortType">
    <operation name="throwFault" parameterOrder="">
      <input name="throwFaultRequest" message="serviceNS:throwFaultRequestMessage"/>
      <output name="throwFaultResponse" message="serviceNS:throwFaultResponseMessage"/>
      <fault name="throwFaultFault" message="serviceNS:throwFaultFault"/>
    </operation>
  </portType>
  <binding name="FaultServiceSoapBinding" type="serviceNS:FaultServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="throwFault">
      <soap:operation soapAction="" style="document"/>
      <input name="throwFaultRequest">
        <soap:body use="literal"/>
      </input>
      <output name="throwFaultResponse">
        <soap:body use="literal"/>
      </output>
      <fault name="throwFaultFault">
        <soap:fault name="throwFaultFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FaultService">
    <port name="FaultService" binding="serviceNS:FaultServiceSoapBinding">
      <soap:address location="http://localhost:8080/axis/services/FaultService"/>
    </port>
  </service>
</definitions>
