test/wsdl/clash/clash.wsdl

<?xml version="1.0" ?>

<definitions 
    name="name clash test"
    targetNamespace="urn:clash.wsdl.test"
    xmlns:tns="urn:clash.wsdl.test"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- type defs -->
  <types>
    <xsd:schema targetNamespace="urn:clash.wsdl.test"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="sharedName">
        <xsd:all>
          <xsd:element name="sharedName" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="sharedName">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="sharedName" type="xsd:int"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="another">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="sharedName" type="xsd:boolean"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <!-- message declns -->
  <message name="empty"/>

  <message name="sharedName">
    <part name="sharedName" type="tns:sharedName"/>
  </message>
  <message name="anotherMessage">
    <part name="sharedName" type="xsd:int"/>
  </message>
  <message name="literalMessage">
    <part name="literalPart" element="tns:sharedName"/>
  </message>
  <message name="anotherLitMessage">
    <part name="sharedName" element="tns:another"/>
  </message>

  <!-- port type declns -->
  <portType name="sharedName">
    <operation name="sharedName">
      <input name="sharedNameIn" message="tns:empty"/>
      <output name="sharedNameOut" message="tns:sharedName"/>
    </operation>
    <operation name="sharedName">
      <input name="sharedNameIn2" message="tns:sharedName"/>
      <output name="emptyOut2" message="tns:empty"/>
    </operation>
    <operation name="sharedName">
      <input name="anotherIn3" message="tns:anotherMessage"/>
      <output name="emptyOut3" message="tns:empty"/>
    </operation>
  </portType>

  <portType name="literalPort">
    <operation name="sharedName">
      <input name="sharedNameIn" message="tns:empty"/>
      <output name="sharedNameOut" message="tns:literalMessage"/>
    </operation>
    <operation name="sharedName">
      <input name="sharedNameIn2" message="tns:literalMessage"/>
      <output name="emptyOut2" message="tns:empty"/>
    </operation>
    <operation name="sharedName">
      <input name="anotherIn3" message="tns:anotherLitMessage"/>
      <output name="emptyOut3" message="tns:empty"/>
    </operation>
  </portType>

  <!-- binding declns -->
  <binding name="nonSharedName" type="tns:sharedName">
    <soap:binding
        style="rpc"
        transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sharedName">
      <input name="sharedNameIn">
        <soap:body use="encoded"/>
      </input>
      <output name="sharedNameOut">
        <soap:body use="encoded"/>
      </output>
    </operation>
    <operation name="sharedName">
      <input name="sharedNameIn2">
        <soap:body use="encoded"/>
      </input>
      <output name="emptyOut2">
        <soap:body use="encoded"/>
      </output>
    </operation>
    <operation name="sharedName">
      <input name="anotherIn3">
        <soap:body use="encoded"/>
      </input>
      <output name="emptyOut3">
        <soap:body use="encoded"/>
      </output>
    </operation>
  </binding>

<!-- don't do this one just yet...
  <binding name="sharedName" type="tns:literalPort">
    <soap:binding
        style="rpc"
        transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sharedName">
      <input name="sharedNameIn">
        <soap:body use="literal"/>
      </input>
      <output name="sharedNameOut">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sharedName">
      <input name="sharedNameIn2">
        <soap:body use="literal"/>
      </input>
      <output name="emptyOut2">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sharedName">
      <input name="anotherIn3">
        <soap:body use="literal"/>
      </input>
      <output name="emptyOut3">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
-->

  <binding name="anotherNonSharedName" type="tns:sharedName">
    <soap:binding
        style="rpc"
        transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sharedName">
      <input name="sharedNameIn">
        <soap:body use="encoded"/>
      </input>
      <output name="sharedNameOut">
        <soap:body use="encoded"/>
      </output>
    </operation>
    <operation name="sharedName">
      <input name="sharedNameIn2">
        <soap:body use="encoded"/>
      </input>
      <output name="emptyOut2">
        <soap:body use="encoded"/>
      </output>
    </operation>
    <operation name="sharedName">
      <input name="anotherIn3">
        <soap:body use="encoded"/>
      </input>
      <output name="emptyOut3">
        <soap:body use="encoded"/>
      </output>
    </operation>
  </binding>

  <!-- service decln -->
  <service name="sharedName">
    <port name="nonSharedName" binding="tns:nonSharedName">
      <soap:address location="http://localhost:8080/axis/services/nonSharedName"/>
    </port>
    <port name="anotherNonSharedName" binding="tns:anotherNonSharedName">
      <soap:address location="http://localhost:8080/axis/services/anotherNonSharedName"/>
    </port>
<!-- don't do this just yet...
    <port name="sharedName" binding="tns:sharedName">
      <soap:address location="http://localhost:8080/axis/services/sharedName"/>
    </port>
-->
  </service>

</definitions>

