test/wsdl/roundtrip/Roundtrip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://roundtrip.wsdl.test" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:impl="http://roundtrip.wsdl.test-impl" xmlns:intf="http://roundtrip.wsdl.test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <schema targetNamespace="http://roundtrip.wsdl.test" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="CallOptions">
    <all>
     <element name="callDate" nillable="true" type="xsd:dateTime"/>
    </all>
   </complexType>
   <complexType name="ArrayOfCallOptions">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="intf:CallOptions[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOfCallOptions" nillable="true" type="intf:ArrayOfCallOptions"/>
   <complexType name="PreferredStockInvestment">
    <complexContent>
     <extension base="intf:StockInvestment">
      <all>
       <element name="dividendsInArrears" type="xsd:double"/>
       <element name="preferredYield" nillable="true" type="xsd:decimal"/>
      </all>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="StockInvestment">
    <complexContent>
     <extension base="intf:Investment">
      <all>
       <element name="tradeExchange" nillable="true" type="xsd:string"/>
       <element name="lastTradePrice" type="xsd:float"/>
      </all>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Investment">
    <all>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </all>
   </complexType>
   <element name="PreferredStockInvestment" nillable="true" type="intf:PreferredStockInvestment"/>
   <element name="StockInvestment" nillable="true" type="intf:StockInvestment"/>
   <complexType name="BondInvestment">
    <all>
     <element name="options" nillable="true" type="intf:ArrayOfCallOptions"/>
     <element name="wrapperShortArray" nillable="true" type="intf:ArrayOf_SOAP-ENC_short"/>
     <element name="wrapperByteArray" nillable="true" type="SOAP-ENC:base64"/>
     <element name="wrapperDouble" nillable="true" type="SOAP-ENC:double"/>
     <element name="wrapperFloat" nillable="true" type="SOAP-ENC:float"/>
     <element name="wrapperInteger" nillable="true" type="SOAP-ENC:int"/>
     <element name="wrapperShort" nillable="true" type="SOAP-ENC:short"/>
     <element name="wrapperByte" nillable="true" type="SOAP-ENC:byte"/>
     <element name="wrapperBoolean" nillable="true" type="SOAP-ENC:boolean"/>
     <element name="shortArray" nillable="true" type="intf:ArrayOf_xsd_short"/>
     <element name="byteArray" type="xsd:base64Binary"/>
     <element name="callableDate" nillable="true" type="xsd:dateTime"/>
     <element name="bondAmount" nillable="true" type="xsd:decimal"/>
     <element name="portfolioType" nillable="true" type="xsd:integer"/>
     <element name="tradeExchange" nillable="true" type="xsd:string"/>
     <element name="fiftyTwoWeekHigh" type="xsd:double"/>
     <element name="lastTradePrice" type="xsd:float"/>
     <element name="yield" type="xsd:long"/>
     <element name="stockBeta" type="xsd:int"/>
     <element name="docType" type="xsd:short"/>
     <element name="taxIndicator" type="xsd:byte"/>
    </all>
   </complexType>
   <complexType name="ArrayOf_SOAP-ENC_short">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="SOAP-ENC:short[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_short">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:short[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="BondInvestment" nillable="true" type="intf:BondInvestment"/>
   <complexType name="ArrayOf_SOAP-ENC_string">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_SOAP-ENC_string">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="intf:ArrayOf_SOAP-ENC_string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOfArrayOf_SOAP-ENC_string" nillable="true" type="intf:ArrayOfArrayOf_SOAP-ENC_string"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="intf:ArrayOf_xsd_int"/>
  </schema>
  <schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="dateTime" nillable="true" type="xsd:dateTime"/>
  </schema>
 </types>

   <wsdl:message name="methodCallOptionsResponse">

      <wsdl:part name="return" type="intf:ArrayOfCallOptions"/>

   </wsdl:message>

   <wsdl:message name="methodSoapLongRequest">

      <wsdl:part name="in0" type="SOAP-ENC:long"/>

   </wsdl:message>

   <wsdl:message name="methodBondInvestmentOutResponse">

      <wsdl:part name="return" type="intf:BondInvestment"/>

   </wsdl:message>

   <wsdl:message name="methodBooleanResponse">

      <wsdl:part name="return" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="methodBondInvestmentOutRequest">

   </wsdl:message>

   <wsdl:message name="methodStringMArrayInResponse">

   </wsdl:message>

   <wsdl:message name="methodIntArrayOutResponse">

      <wsdl:part name="return" type="intf:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="methodCallOptionsRequest">

      <wsdl:part name="in0" type="intf:ArrayOfCallOptions"/>

   </wsdl:message>

   <wsdl:message name="methodSoapFloatResponse">

      <wsdl:part name="return" type="SOAP-ENC:float"/>

   </wsdl:message>

   <wsdl:message name="methodBondInvestmentInOutResponse">

      <wsdl:part name="return" type="intf:BondInvestment"/>

   </wsdl:message>

   <wsdl:message name="methodSoapFloatRequest">

      <wsdl:part name="in0" type="SOAP-ENC:float"/>

   </wsdl:message>

   <wsdl:message name="methodBondInvestmentInResponse">

   </wsdl:message>

   <wsdl:message name="methodSoapDoubleRequest">

      <wsdl:part name="in0" type="SOAP-ENC:double"/>

   </wsdl:message>

   <wsdl:message name="methodIntArrayInOutRequest">

      <wsdl:part name="in0" type="intf:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="methodIntArrayOutRequest">

   </wsdl:message>

   <wsdl:message name="methodBigIntegerRequest">

      <wsdl:part name="in0" type="SOAP-ENC:integer"/>

   </wsdl:message>

   <wsdl:message name="methodSoapBooleanResponse">

      <wsdl:part name="return" type="SOAP-ENC:boolean"/>

   </wsdl:message>

   <wsdl:message name="methodIntArrayInRequest">

      <wsdl:part name="in0" type="intf:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="methodBigDecimalResponse">

      <wsdl:part name="return" type="SOAP-ENC:decimal"/>

   </wsdl:message>

   <wsdl:message name="methodAllTypesInRequest">

      <wsdl:part name="in0" type="SOAP-ENC:string"/>

      <wsdl:part name="in1" type="SOAP-ENC:integer"/>

      <wsdl:part name="in2" type="SOAP-ENC:decimal"/>

      <wsdl:part name="in3" type="xsd:dateTime"/>

      <wsdl:part name="in4" type="xsd:boolean"/>

      <wsdl:part name="in5" type="xsd:byte"/>

      <wsdl:part name="in6" type="xsd:short"/>

      <wsdl:part name="in7" type="xsd:int"/>

      <wsdl:part name="in8" type="xsd:long"/>

      <wsdl:part name="in9" type="xsd:float"/>

      <wsdl:part name="in10" type="xsd:double"/>

      <wsdl:part name="in11" type="xsd:base64Binary"/>

      <wsdl:part name="in12" type="SOAP-ENC:boolean"/>

      <wsdl:part name="in13" type="SOAP-ENC:byte"/>

      <wsdl:part name="in14" type="SOAP-ENC:short"/>

      <wsdl:part name="in15" type="SOAP-ENC:int"/>

      <wsdl:part name="in16" type="SOAP-ENC:long"/>

      <wsdl:part name="in17" type="SOAP-ENC:float"/>

      <wsdl:part name="in18" type="SOAP-ENC:double"/>

      <wsdl:part name="in19" type="SOAP-ENC:base64"/>

   </wsdl:message>

   <wsdl:message name="methodSoapBooleanRequest">

      <wsdl:part name="in0" type="SOAP-ENC:boolean"/>

   </wsdl:message>

   <wsdl:message name="methodBondInvestmentInOutRequest">

      <wsdl:part name="in0" type="intf:BondInvestment"/>

   </wsdl:message>

   <wsdl:message name="methodSoapShortResponse">

      <wsdl:part name="return" type="SOAP-ENC:short"/>

   </wsdl:message>

   <wsdl:message name="methodStringMArrayInOutResponse">

      <wsdl:part name="return" type="intf:ArrayOfArrayOf_SOAP-ENC_string"/>

   </wsdl:message>

   <wsdl:message name="methodBooleanRequest">

      <wsdl:part name="in0" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="methodIntResponse">

      <wsdl:part name="return" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="methodIntRequest">

      <wsdl:part name="in0" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="methodIntArrayInOutResponse">

      <wsdl:part name="return" type="intf:ArrayOf_xsd_int"/>

   </wsdl:message>

   <wsdl:message name="methodByteRequest">

      <wsdl:part name="in0" type="xsd:byte"/>

   </wsdl:message>

   <wsdl:message name="methodSoapLongResponse">

      <wsdl:part name="return" type="SOAP-ENC:long"/>

   </wsdl:message>

   <wsdl:message name="getRealtimeLastTradePriceResponse">

      <wsdl:part name="return" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="methodStringMArrayOutRequest">

   </wsdl:message>

   <wsdl:message name="methodLongRequest">

      <wsdl:part name="in0" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="methodStringRequest">

      <wsdl:part name="in0" type="SOAP-ENC:string"/>

   </wsdl:message>

   <wsdl:message name="methodDateTimeRequest">

      <wsdl:part name="in0" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="methodByteArrayRequest">

      <wsdl:part name="in0" type="xsd:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="getRealtimeLastTradePriceRequest">

      <wsdl:part name="in0" type="intf:StockInvestment"/>

   </wsdl:message>

   <wsdl:message name="getDividendsResponse">

      <wsdl:part name="return" type="intf:PreferredStockInvestment"/>

   </wsdl:message>

   <wsdl:message name="methodSoapByteResponse">

      <wsdl:part name="return" type="SOAP-ENC:byte"/>

   </wsdl:message>

   <wsdl:message name="methodBigDecimalRequest">

      <wsdl:part name="in0" type="SOAP-ENC:decimal"/>

   </wsdl:message>

   <wsdl:message name="methodSoapByteArrayRequest">

      <wsdl:part name="in0" type="SOAP-ENC:base64"/>

   </wsdl:message>

   <wsdl:message name="methodSoapByteArrayResponse">

      <wsdl:part name="return" type="SOAP-ENC:base64"/>

   </wsdl:message>

   <wsdl:message name="methodShortRequest">

      <wsdl:part name="in0" type="xsd:short"/>

   </wsdl:message>

   <wsdl:message name="methodIntArrayInResponse">

   </wsdl:message>

   <wsdl:message name="methodFloatRequest">

      <wsdl:part name="in0" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="methodSoapDoubleResponse">

      <wsdl:part name="return" type="SOAP-ENC:double"/>

   </wsdl:message>

   <wsdl:message name="methodStringMArrayInRequest">

      <wsdl:part name="in0" type="intf:ArrayOfArrayOf_SOAP-ENC_string"/>

   </wsdl:message>

   <wsdl:message name="methodLongResponse">

      <wsdl:part name="return" type="xsd:long"/>

   </wsdl:message>

   <wsdl:message name="methodSoapIntRequest">

      <wsdl:part name="in0" type="SOAP-ENC:int"/>

   </wsdl:message>

   <wsdl:message name="methodSoapByteRequest">

      <wsdl:part name="in0" type="SOAP-ENC:byte"/>

   </wsdl:message>

   <wsdl:message name="methodStringMArrayOutResponse">

      <wsdl:part name="return" type="intf:ArrayOfArrayOf_SOAP-ENC_string"/>

   </wsdl:message>

   <wsdl:message name="methodShortResponse">

      <wsdl:part name="return" type="xsd:short"/>

   </wsdl:message>

   <wsdl:message name="methodStringResponse">

      <wsdl:part name="return" type="SOAP-ENC:string"/>

   </wsdl:message>

   <wsdl:message name="methodAllTypesInResponse">

   </wsdl:message>

   <wsdl:message name="methodDoubleRequest">

      <wsdl:part name="in0" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="methodByteResponse">

      <wsdl:part name="return" type="xsd:byte"/>

   </wsdl:message>

   <wsdl:message name="methodFloatResponse">

      <wsdl:part name="return" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="methodSoapIntResponse">

      <wsdl:part name="return" type="SOAP-ENC:int"/>

   </wsdl:message>

   <wsdl:message name="methodByteArrayResponse">

      <wsdl:part name="return" type="xsd:base64Binary"/>

   </wsdl:message>

   <wsdl:message name="methodBigIntegerResponse">

      <wsdl:part name="return" type="SOAP-ENC:integer"/>

   </wsdl:message>

   <wsdl:message name="methodDoubleResponse">

      <wsdl:part name="return" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="methodStringMArrayInOutRequest">

      <wsdl:part name="in0" type="intf:ArrayOfArrayOf_SOAP-ENC_string"/>

   </wsdl:message>

   <wsdl:message name="methodBondInvestmentInRequest">

      <wsdl:part name="in0" type="intf:BondInvestment"/>

   </wsdl:message>

   <wsdl:message name="methodDateTimeResponse">

      <wsdl:part name="return" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="getDividendsRequest">

      <wsdl:part name="in0" type="intf:PreferredStockInvestment"/>

   </wsdl:message>

   <wsdl:message name="methodSoapShortRequest">

      <wsdl:part name="in0" type="SOAP-ENC:short"/>

   </wsdl:message>

   <wsdl:portType name="RoundtripPortType">

      <wsdl:operation name="methodSoapLong" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapLongRequest"/>

         <wsdl:output message="intf:methodSoapLongResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapInt" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapIntRequest"/>

         <wsdl:output message="intf:methodSoapIntResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapShort" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapShortRequest"/>

         <wsdl:output message="intf:methodSoapShortResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapByte" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapByteRequest"/>

         <wsdl:output message="intf:methodSoapByteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapBoolean" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapBooleanRequest"/>

         <wsdl:output message="intf:methodSoapBooleanResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapDouble" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapDoubleRequest"/>

         <wsdl:output message="intf:methodSoapDoubleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapFloat" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapFloatRequest"/>

         <wsdl:output message="intf:methodSoapFloatResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodCallOptions" parameterOrder="in0">

         <wsdl:input message="intf:methodCallOptionsRequest"/>

         <wsdl:output message="intf:methodCallOptionsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDividends" parameterOrder="in0">

         <wsdl:input message="intf:getDividendsRequest"/>

         <wsdl:output message="intf:getDividendsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRealtimeLastTradePrice" parameterOrder="in0">

         <wsdl:input message="intf:getRealtimeLastTradePriceRequest"/>

         <wsdl:output message="intf:getRealtimeLastTradePriceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodBondInvestmentInOut" parameterOrder="in0">

         <wsdl:input message="intf:methodBondInvestmentInOutRequest"/>

         <wsdl:output message="intf:methodBondInvestmentInOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodBondInvestmentOut">

         <wsdl:input message="intf:methodBondInvestmentOutRequest"/>

         <wsdl:output message="intf:methodBondInvestmentOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodBondInvestmentIn" parameterOrder="in0">

         <wsdl:input message="intf:methodBondInvestmentInRequest"/>

         <wsdl:output message="intf:methodBondInvestmentInResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodStringMArrayOut">

         <wsdl:input message="intf:methodStringMArrayOutRequest"/>

         <wsdl:output message="intf:methodStringMArrayOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodStringMArrayIn" parameterOrder="in0">

         <wsdl:input message="intf:methodStringMArrayInRequest"/>

         <wsdl:output message="intf:methodStringMArrayInResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodStringMArrayInOut" parameterOrder="in0">

         <wsdl:input message="intf:methodStringMArrayInOutRequest"/>

         <wsdl:output message="intf:methodStringMArrayInOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodIntArrayOut">

         <wsdl:input message="intf:methodIntArrayOutRequest"/>

         <wsdl:output message="intf:methodIntArrayOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodIntArrayIn" parameterOrder="in0">

         <wsdl:input message="intf:methodIntArrayInRequest"/>

         <wsdl:output message="intf:methodIntArrayInResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodIntArrayInOut" parameterOrder="in0">

         <wsdl:input message="intf:methodIntArrayInOutRequest"/>

         <wsdl:output message="intf:methodIntArrayInOutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodAllTypesIn" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10 in11 in12 in13 in14 in15 in16 in17 in18 in19">

         <wsdl:input message="intf:methodAllTypesInRequest"/>

         <wsdl:output message="intf:methodAllTypesInResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodSoapByteArray" parameterOrder="in0">

         <wsdl:input message="intf:methodSoapByteArrayRequest"/>

         <wsdl:output message="intf:methodSoapByteArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodByteArray" parameterOrder="in0">

         <wsdl:input message="intf:methodByteArrayRequest"/>

         <wsdl:output message="intf:methodByteArrayResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodDateTime" parameterOrder="in0">

         <wsdl:input message="intf:methodDateTimeRequest"/>

         <wsdl:output message="intf:methodDateTimeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodBigDecimal" parameterOrder="in0">

         <wsdl:input message="intf:methodBigDecimalRequest"/>

         <wsdl:output message="intf:methodBigDecimalResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodBigInteger" parameterOrder="in0">

         <wsdl:input message="intf:methodBigIntegerRequest"/>

         <wsdl:output message="intf:methodBigIntegerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodString" parameterOrder="in0">

         <wsdl:input message="intf:methodStringRequest"/>

         <wsdl:output message="intf:methodStringResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodDouble" parameterOrder="in0">

         <wsdl:input message="intf:methodDoubleRequest"/>

         <wsdl:output message="intf:methodDoubleResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodFloat" parameterOrder="in0">

         <wsdl:input message="intf:methodFloatRequest"/>

         <wsdl:output message="intf:methodFloatResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodLong" parameterOrder="in0">

         <wsdl:input message="intf:methodLongRequest"/>

         <wsdl:output message="intf:methodLongResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodInt" parameterOrder="in0">

         <wsdl:input message="intf:methodIntRequest"/>

         <wsdl:output message="intf:methodIntResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodShort" parameterOrder="in0">

         <wsdl:input message="intf:methodShortRequest"/>

         <wsdl:output message="intf:methodShortResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodByte" parameterOrder="in0">

         <wsdl:input message="intf:methodByteRequest"/>

         <wsdl:output message="intf:methodByteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="methodBoolean" parameterOrder="in0">

         <wsdl:input message="intf:methodBooleanRequest"/>

         <wsdl:output message="intf:methodBooleanResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RoundtripTestSoapBinding" type="intf:RoundtripPortType">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="methodSoapLong">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapInt">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapShort">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapByte">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapBoolean">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapDouble">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapFloat">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodCallOptions">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDividends">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRealtimeLastTradePrice">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodBondInvestmentInOut">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodBondInvestmentOut">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodBondInvestmentIn">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodStringMArrayOut">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodStringMArrayIn">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodStringMArrayInOut">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodIntArrayOut">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodIntArrayIn">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodIntArrayInOut">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodAllTypesIn">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodSoapByteArray">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodByteArray">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodDateTime">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodBigDecimal">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodBigInteger">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodString">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodDouble">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodFloat">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodLong">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodInt">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodShort">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodByte">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="methodBoolean">

         <wsdlsoap:operation soapAction="" style="rpc"/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://roundtrip.wsdl.test" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RoundtripTest">

      <wsdl:port binding="intf:RoundtripTestSoapBinding" name="RoundtripTest">

         <wsdlsoap:address location="http://localhost:8080/axis/services/RoundtripTest"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
