test/arrays/ArrayTest.wsdl

<?xml version="1.0" ?>

<definitions name="urn:ArrayTest"
             targetNamespace="urn:ArrayTest2"
             xmlns:tns="urn:ArrayTest2"
             xmlns:typens="urn:ArrayTest2"
             xmlns:xsd="http://www.w3.org/1999/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- type defs -->
  <types>
    <xsd:schema targetNamespace="urn:ArrayTest2"
                xmlns:xsd="http://www.w3.org/1999/XMLSchema">

      <xsd:complexType name="hobbyArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="petArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:sequence>
              <xsd:element name="alias" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
<!--
      <xsd:complexType name="foodArray">
            <xsd:sequence>
              <xsd:element name="alias" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="gameArray">
              <xsd:element name="alias" type="xsd:string" maxOccurs="unbounded"/>
      </xsd:complexType>
-->
      <xsd:complexType name="personalInfo">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <!-- Style 1: Array defined using soapenc:Array -->
            <xsd:element name="favoriteMovies" type="soapenc:Array"/>
            <!-- Style 2: Array defined using derivation and wsdl:ArrayType -->
            <xsd:element name="hobbies" type="typens:hobbyArray"/>
            <!-- Style 3: Array defined using derivation of soapenc:Array -->
            <xsd:element name="pets" type="typens:petArray"/>
            <!-- Microsoft 1 (not JAX-RPC): Array defined using sequence of single unbounded element -->
            <!-- <xsd:element name="foods" type="typens:foodArray"/> -->
            <!-- Microsoft 2 (not JAX-RPC): Array defined using single unbounded element -->
            <!-- <xsd:element name="games" type="typens:gameArray"/> -->
            <!-- Array of bytes -->                                           
            <xsd:element name="nickName" type="soapenc:base64"/>

        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- message declns -->
  <message name="AddEntryRequest">
    <part name="name" type="xsd:string"/>
    <part name="info" type="typens:personalInfo"/>
  </message>

  <message name="GetPersonalInfoFromNameRequest">
    <part name="name" type="xsd:string"/>
  </message>

  <message name="GetPersonalInfoFromNameResponse">
    <part name="info" type="typens:personalInfo"/>
  </message>

  <!-- port type declns -->
  <portType name="PersonalInfoBook">
    <operation name="addEntry">
      <input message="tns:AddEntryRequest"/>
    </operation>
    <operation name="getPersonalInfoFromName">
      <input message="tns:GetPersonalInfoFromNameRequest"/>
      <output message="tns:GetPersonalInfoFromNameResponse"/>
    </operation>
  </portType>

  <!-- binding declns -->
  <binding name="PersonalInfoBookSOAPBinding" type="tns:PersonalInfoBook">
    <soap:binding style="rpc"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addEntry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:ArrayTest"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:ArrayTest"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="getPersonalInfoFromName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded"
                   namespace="urn:ArrayTest"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded"
                   namespace="urn:ArrayTest"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <!-- service decln -->
  <service name="PersonalInfoBookService">
    <port name="PersonalInfoBook" binding="tns:PersonalInfoBookSOAPBinding">
      <soap:address location="http://localhost:8080/axis/services/PersonalInfoBook"/>
    </port>
  </service>

</definitions>

