test/inout/inout.wsdl

<?xml version="1.0" ?>

<definitions name="http://www.ibm.com/inout"
             targetNamespace="http://www.ibm.com/inout"
	         xmlns:tns="http://www.ibm.com/inout"
             xmlns:typens="http://www.ibm.com/inout"
             xmlns:xsd="http://www.w3.org/1999/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- type defs -->
  <types>
    <xsd:schema targetNamespace="http://www.ibm.com/inout"
                xmlns:xsd="http://www.w3.org/1999/XMLSchema">
      <xsd:complexType name="phone">
        <xsd:all>
          <xsd:element name="areaCode" type="xsd:int"/>
          <xsd:element name="exchange" type="xsd:string"/>
          <xsd:element name="number" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>

      <xsd:complexType name="address">
        <xsd:all>
          <xsd:element name="streetNum" type="xsd:int"/>
          <xsd:element name="streetName" type="xsd:string"/>
          <xsd:element name="city" type="xsd:string"/>
          <xsd:element name="state" type="xsd:string"/>
          <xsd:element name="zip" type="xsd:int"/>
          <xsd:element name="phoneNumber" type="typens:phone"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- message declns -->
  <message name="Msg0"/>

  <message name="Msg1">
    <part name="name" type="xsd:string"/>
  </message>

  <message name="Msg2">
    <part name="name" type="xsd:string"/>
    <part name="address" type="typens:address"/>
  </message>

  <message name="Msg3">
    <part name="phone" type="typens:phone"/>
  </message>

  <message name="Msg4">
    <part name="number" type="xsd:int"/>
  </message>

  <message name="Msg5">
    <part name="otherName" type="xsd:string"/>
  </message>

  <message name="Msg6">
    <part name="otherNumber" type="xsd:int"/>
  </message>

  <message name="Msg15">
    <part name="name" type="xsd:string"/>
    <part name="otherName" type="xsd:string"/>
  </message>

  <message name="Msg23">
    <part name="name" type="xsd:string"/>
    <part name="address" type="typens:address"/>
    <part name="phone" type="typens:phone"/>
  </message>

  <message name="Msg25">
    <part name="name" type="xsd:string"/>
    <part name="address" type="typens:address"/>
    <part name="otherName" type="xsd:string"/>
  </message>

  <message name="Msg145">
    <part name="name" type="xsd:string"/>
    <part name="number" type="xsd:int"/>
    <part name="otherName" type="xsd:string"/>
  </message>

  <message name="Msg234">
    <part name="name" type="xsd:string"/>
    <part name="address" type="typens:address"/>
    <part name="phone" type="typens:phone"/>
    <part name="number" type="xsd:int"/>
  </message>

  <message name="Msg236">
    <part name="name" type="xsd:string"/>
    <part name="address" type="typens:address"/>
    <part name="phone" type="typens:phone"/>
    <part name="otherNumber" type="xsd:int"/>
  </message>
 
  <message name="Msg245">
    <part name="name" type="xsd:string"/>
    <part name="address" type="typens:address"/>
    <part name="number" type="xsd:int"/>
    <part name="otherName" type="xsd:string"/>
  </message>

  <message name="Msg345">
    <part name="phone" type="typens:phone"/>
    <part name="number" type="xsd:int"/>
    <part name="otherName" type="xsd:string"/>
  </message>

  <message name="Msg45">
    <part name="number" type="xsd:int"/>
    <part name="otherName" type="xsd:string"/>
  </message>

  <!-- port type declns -->
  <portType name="Inout">

    <!-- all permutations in order out, inout, in -->
    <operation name="out0_inout0_in0">
      <input message="tns:Msg0"/>
      <output message="tns:Msg0"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inout0_in1">
      <input message="tns:Msg1"/>
      <output message="tns:Msg0"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inout0_inMany">
      <input message="tns:Msg2"/>
      <output message="tns:Msg0"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inout1_in0">
      <input message="tns:Msg3"/>
      <output message="tns:Msg3"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inout1_in1">
      <input message="tns:Msg2"/>
      <output message="tns:Msg1"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inout1_inMany">
      <input message="tns:Msg23"/>
      <output message="tns:Msg3"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inoutMany_in0">
      <input message="tns:Msg2"/>
      <output message="tns:Msg2"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inoutMany_in1">
      <input message="tns:Msg23"/>
      <output message="tns:Msg2"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out0_inoutMany_inMany">
      <input message="tns:Msg234"/>
      <output message="tns:Msg2"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inout0_in0">
      <input message="tns:Msg0"/>
      <output message="tns:Msg4"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inout0_in1">
      <input message="tns:Msg1"/>
      <output message="tns:Msg4"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inout0_inMany">
      <input message="tns:Msg2"/>
      <output message="tns:Msg4"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inout1_in0">
      <input message="tns:Msg1"/>
      <output message="tns:Msg2"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inout1_in1">
      <input message="tns:Msg2"/>
      <output message="tns:Msg15"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inout1_inMany">
      <input message="tns:Msg23"/>
      <output message="tns:Msg15"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inoutMany_in0">
      <input message="tns:Msg2"/>
      <output message="tns:Msg25"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inoutMany_in1">
      <input message="tns:Msg23"/>
      <output message="tns:Msg25"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="out1_inoutMany_inMany">
      <input message="tns:Msg234"/>
      <output message="tns:Msg25"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inout0_in0">
      <input message="tns:Msg0"/>
      <output message="tns:Msg2"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inout0_in1">
      <input message="tns:Msg1"/>
      <output message="tns:Msg45"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inout0_inMany">
      <input message="tns:Msg2"/>
      <output message="tns:Msg45"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inout1_in0">
      <input message="tns:Msg1"/>
      <output message="tns:Msg145"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inout1_in1">
      <input message="tns:Msg2"/>
      <output message="tns:Msg145"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inout1_inMany">
      <input message="tns:Msg23"/>
      <output message="tns:Msg345"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inoutMany_in0">
      <input message="tns:Msg2"/>
      <output message="tns:Msg245"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inoutMany_in1">
      <input message="tns:Msg23"/>
      <output message="tns:Msg245"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>
    <operation name="outMany_inoutMany_inMany">
      <input message="tns:Msg236"/>
      <output message="tns:Msg245"/>
      <fault name="TestFailed" message="tns:Msg0"/>
    </operation>

  </portType>

  <!-- binding declns -->
  <binding name="InoutSOAPBinding" type="tns:Inout">
    <soap:binding style="rpc" 
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="out0_inout0_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inout0_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inout0_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inout1_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inout1_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inout1_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inoutMany_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inoutMany_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out0_inoutMany_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inout0_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inout0_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inout0_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inout1_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inout1_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inout1_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inoutMany_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inoutMany_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="out1_inoutMany_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inout0_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inout0_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inout0_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inout1_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inout1_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inout1_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inoutMany_in0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inoutMany_in1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
    <operation name="outMany_inoutMany_inMany">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout" 
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" 
                   namespace="http://www.ibm.com/inout"
                   encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
      <fault name="TestFailed">
      </fault>
    </operation>
  </binding>

  <!-- service decln -->
  <service name="InoutService">
    <port name="InoutService" binding="tns:InoutSOAPBinding">
      <soap:address location="http://localhost:8080/axis/services/InoutService"/>
    </port>
  </service>

</definitions>
