axis-ant/src/test/wsdl/axis2900/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://example.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://example.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://example.com">
            <xs:element name="MyWSException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="MyWSException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="myOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="myId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="myOt" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="myOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="myOperationRequest">
        <wsdl:part name="parameters" element="ns:myOperation"/>
    </wsdl:message>
    <wsdl:message name="myOperationResponse">
        <wsdl:part name="parameters" element="ns:myOperationResponse"/>
    </wsdl:message>
    <wsdl:message name="MyWSException">
        <wsdl:part name="parameters" element="ns:MyWSException"/>
    </wsdl:message>
    <wsdl:portType name="MyWSPortType">
        
        <wsdl:operation name="myOperation">
            <wsdl:input message="ns:myOperationRequest" wsaw:Action="urn:myOperation"/>
            <wsdl:output message="ns:myOperationResponse" wsaw:Action="urn:myOperationResponse"/>
            <wsdl:fault message="ns:MyWSException" name="MyWSException" wsaw:Action="urn:myOperationMyWSException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyWSSoap11Binding" type="ns:MyWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        
        <wsdl:operation name="myOperation">
            <soap:operation soapAction="urn:myOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="MyWSException">
                <soap:fault use="literal" name="MyWSException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyWS">
        <wsdl:port name="MyWSHttpSoap11Endpoint" binding="ns:MyWSSoap11Binding">
            <soap:address location="http://endpoint.com"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
