test/wsdl/echo/echo.wsdl

<?xml version="1.0" encoding="UTF-8" ?> 
<wsdl:definitions targetNamespace="http://echo.services" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:impl="http://echo.services-impl" 
xmlns:intf="http://echo.services" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns1="http://types.echo.services" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:types>
<schema targetNamespace="http://types.echo.services" 
xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://schemas.xmlsoap.org/soap/encoding/" /> 
<complexType name="MyComplexType">
<sequence>
<element name="simpleItem" nillable="true" type="xsd:string" /> 
</sequence>
</complexType>
<element name="MyElement" nillable="true" type="tns1:MyComplexType" /> 
</schema>
</wsdl:types>
<wsdl:message name="echoRequest">
<wsdl:part element="tns1:MyElement" name="MyElement" /> 
</wsdl:message>
<wsdl:message name="echoResponse">
<wsdl:part element="tns1:MyElement" name="MyElement" /> 
</wsdl:message>
<wsdl:portType name="Echo">
<wsdl:operation name="echo" parameterOrder="MyElement">
<wsdl:input message="intf:echoRequest" name="echoRequest" /> 
<wsdl:output message="intf:echoResponse" name="echoResponse" /> 
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ComplexEchoServiceSoapBinding" type="intf:Echo">
<wsdlsoap:binding style="document" 
transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="echo">
<wsdlsoap:operation soapAction="" /> 
<wsdl:input name="echoRequest">
<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
namespace="http://types.echo.services" use="literal" /> 
</wsdl:input>
<wsdl:output name="echoResponse">
<wsdlsoap:body namespace="http://types.echo.services" use="literal" /> 
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ComplexEchoService">
<wsdl:port binding="intf:ComplexEchoServiceSoapBinding" name="ComplexEchoService">
<wsdlsoap:address 
location="http://localhost:8080/axis/services/ComplexEchoService" /> 
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
