axis-rt-transport-http-javanet/src/test/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.example.org/test/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/test/">
      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faultTest">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="faultTestResponse">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fault">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="faultTestRequest">
    <wsdl:part element="tns:faultTest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="faultTestResponse">
    <wsdl:part element="tns:faultTestResponse" name="parameters"/>
  </wsdl:message>
  <!-- TODO: calling the message "fault" generates uncompilable code! -->
  <wsdl:message name="faultMsg">
    <wsdl:part element="tns:fault" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Dummy">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest"/>
      <wsdl:output message="tns:echoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="faultTest">
      <wsdl:input message="tns:faultTestRequest"/>
      <wsdl:output message="tns:faultTestResponse"/>
      <wsdl:fault name="fault" message="tns:faultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DummySOAP" type="tns:Dummy">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echo">
      <soap:operation soapAction="http://www.example.org/test/echo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="faultTest">
      <soap:operation soapAction="http://www.example.org/test/faultTest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DummyService">
    <wsdl:port binding="tns:DummySOAP" name="Dummy">
      <soap:address location="http://localhost:8080/test"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
